@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1f2937;
  padding: 16px 0;
}

.header .text {
  color: #f9faf8;
  font-size: 24px;
  font-weight: 700;
}

.header ul {
  display: flex;
  gap: 16px;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  color: #e5e7eb;
  font-size: 18px;
}

.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 60px 30px;
  background-color: #1f2937;
}

.primary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-basis: 500px;
  gap: 16px;
}

.hero .text {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.hero .subtext {
  font-size: 18px;
  color: #e5e7eb;
}

.hero .button {
  background-color: #3882f6;
  font-size: 18px;
  color: #f9faf8;
  border: none;
  border-radius: 70px;
  padding: 8px 24px;
}

.hero .secondary {
  flex-basis: 600px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5e7eb;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
}

.info .text {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  margin-bottom: 40px;
}

.info .content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.info .container {
  flex-basis: 200px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.info .image {
  width: 200px;
  height: 200px;
  border: 4px solid hsl(202, 92%, 52%);
  border-radius: 20%;
}

.info .subtext {
  text-align: center;
  color: #1f2937;
  font-size: 18px;
}

.quote {
  background-color: #e5e7eb;
  padding: 80px 0;
}

.quote .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 20px;
  width: 850px;
  margin: 0 auto;
}

.quote .text {
  font-size: 36px;
  font-weight: 400;
  font-style: italic;
  color: #1f2937;
}

.quote .subtext {
  font-size: 18px;
  font-weight: 700;
}

.action{
  padding: 60px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.action .container {
  background-color: #3882f6;
  flex-basis: 1000px;
  padding: 32px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action .text {
  font-size: 22px;
  font-weight: 700;
  color: #f9faf8;
}

.action .subtext {
  font-size: 18px;
  color: #f9faf8;
}

.action .button {
  background-color: #3882f6;
  font-size: 18px;
  color: #f9faf8;
  border: 2px solid #f9faf8;
  border-radius: 30px;
  padding: 8px 24px;
}

.footer {
  background-color: #1f2937;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .text {
  color: #e5e7eb;
}